* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  header {
    flex: 0 1 100px;
    border: 1px solid #ccc;

    display: flex;
    align-items: center;

    h1 {
      flex: 0 1 150px;
    }

    nav {
      margin: 0 20px;
      flex: 1 1 auto;

      display: flex;
      justify-content: flex-end;

      a {
        margin: 0 10px;
        text-decoration: none;
        color: #333;

        &.active {
          color: red;
        }

        &:hover {
          color: blue;
        }
      }
    }
  }

  main {
    flex: 1;
    border: 1px solid #ccc;
  }

  footer {
    flex: 0 1 150px;
    border: 1px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
